{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container-box py-10">
    <h1 class="text-5xl text-blue-500">Hello HomeController!</h1>
</div>
{% endblock %}
