{{ form_start(form, { attr: { class: 'space-y-5' } }) }}
    {{ form_row(form.name) }}

<button class="inline-flex btn btn-primary">
    {{ button_label|default('Enregistrer') }}
</button>
{{ form_end(form) }}
