{% extends 'base.html.twig' %}

{% block title %}Gestion des catégories{% endblock %}

{% block body %}
    <section class="container-box py-10">
        <div class="max-w-4xl mx-auto bg-white shadow-md rounded-xl p-6 border border-gray-100">
            <div class="flex flex-col md:flex-row gap-2 justify-between items-center mb-6">
                <h1 class="text-2xl font-bold text-slate-800">Liste des catégories</h1>
                <a href="{{ path('app_category_new') }}"
                   class="btn btn-sm btn-primary">
                    Ajouter une catégorie
                </a>
            </div>

            <div class="overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-200 text-sm text-left">
                    <thead class="bg-gray-50 text-slate-600 font-medium">
                    <tr>
                        <th scope="col" class="px-4 py-2">Nom</th>
                        <th scope="col" class="px-4 py-2">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-100">
                    {% for category in categories %}
                        <tr class="hover:bg-gray-50">
                            <td class="px-4 py-2 text-slate-700">{{ category.name }}</td>
                            <td class="px-4 py-2 flex gap-4">
                                <a href="{{ path('app_category_show', {'id': category.id}) }}"
                                   class="text-blue-600 hover:underline text-sm">Voir</a>
                                <a href="{{ path('app_category_edit', {'id': category.id}) }}"
                                   class="text-yellow-700 hover:underline text-sm">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" class="px-4 py-3 text-slate-500 text-center">Aucune catégorie trouvée.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
