{% extends 'base.html.twig' %}

{% block body %}
    <div class="auth-container mt-10 mb-10  border border-slate-100 rounded-lg shadow-lg bg-white px-5 py-5">
        {% block auth_body %}{% endblock %}
    </div>
{% endblock %}
